{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="{{ language|default:"en-us" }}" dir="{{ dir|default:"ltr" }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% block favicon %}{% static "favicon.ico" %}{% endblock %}">
        {% block styles %}{% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block layout %}{% endblock %}
        {% block cdn_scripts %}{% endblock %}
        {% block scripts %}{% endblock %}
        {% block extrascripts %}{% endblock %}
    </body>
</html>
