{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    {% include "partials/nav_accounts.html" %}

    <header class="header container-fluid">
        <div class="page_inner">
            <div class="row">
                {% include "partials/brand.html" %}
                {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
            </div>
        </div>
        {% block navigation %}{% include "partials/nav_primary.html" %}{% endblock %}
    </header>

    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}


{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
