<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
<dict>
    <key>Label</key>
    <string>__NAME__ Server</string>

    <key>Program</key>
    <string>gunicorn3</string>

    <key>ProgramArguments</key>
    <array>
        <string>gunicorn3</string>
        <string>project.wsgi:application</string>
    </array>

    <key>UserName</key>
    <string>_www</string>
    <key>GroupName</key>
    <string>_www</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>__CONF__:__PDIR__/src</string>
        <key>PYTHONUSERBASE</key>
        <string>__PDIR__/.local</string>
        <key>DJANGO_SETTINGS_MODULE</key>
        <string>__SAFE___django</string>
        <key>GUNICORN_CMD_ARGS</key>
        <string>-b 127.0.0.1:__PORT__ -w 4 --reload</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>__PDIR__</string>

    <key>StandardOutPath</key>
    <string>/var/log/__NAME__.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/__NAME__.err</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
