[Unit]
Description=__NAME__ Server
DefaultDependencies=true

[Service]
Environment="PYTHONPATH=__PDIR__/src:__PDIR__"
Environment="PYTHONUSERBASE=__PDIR__/.local"
Environment="DJANGO_SETTINGS_MODULE=settings_django"
ExecStart="__PDIR__/.local/bin/gunicorn -c python:settings_gunicorn project.wsgi:application"
Restart=on−failure

[Install]
WantedBy=multi-user.target
